@font-face {
    font-family: "Number-font";
    src: url("../Fonts/Numbers/BigShouldersStencilText-Black.ttf");
}

@font-face {
    font-family: "Symbol-font";
    src: url("../Fonts/Symbols/Oswald-VariableFont_wght.ttf");
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5c5c5c;
    

    .number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "Number-font";
        background: white;
        background: linear-gradient(180deg, white 49%,  #b6b6b69b 50%, white 51%);
        border: 1px solid #9c9c9c73;
        border-radius: 15px;
        width: 60px;
        height: 120px;

        > * {
            font-size: 65px;
        }
    }

    .symbol {
        font-family: "Symbol-font";
        font-size: 50px;
        padding: 0px 10px;
    }
}
